{
  "openapi": "3.1.0",
  "info": {
    "title": "Lumira API",
    "description": "Workspace automation and ranking API for Lumira v2.",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.lumiraranking.co.uk"
    },
    {
      "url": "https://canary-api.lumiraranking.co.uk"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v0/workspaces/{guildId}/rank-action": {
      "post": {
        "summary": "Create a rank action",
        "description": "Promote, demote, or set a Roblox group member's rank through the connected Lumira workspace.",
        "parameters": [
          {
            "name": "guildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Discord guild ID for the Lumira workspace."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RankActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rank action completed or queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or selected rank.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v0/untrusted": {
      "get": {
        "summary": "List public untrusted records",
        "description": "Returns approved global untrusted records split by severity.",
        "responses": {
          "200": {
            "description": "Approved untrusted records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UntrustedResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "RankActionRequest": {
        "type": "object",
        "required": ["action", "targetRobloxId"],
        "properties": {
          "action": {
            "type": "string",
            "enum": ["promote", "demote", "setrank"]
          },
          "targetRobloxId": {
            "type": "string"
          },
          "roleId": {
            "type": "string",
            "description": "Required for setrank actions."
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "string"
          }
        }
      },
      "UntrustedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "serious": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "mild": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  }
}
